<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>All words</h1>

	<% if(words) { words.forEach(foundWord => { %>
		<div> <a href="/words/single-word/<%=foundWord.word%>"><%=foundWord.word%></a></div>
	<% });} %>

</body>
</html>